.App {
  text-align: center;
}

.Board {
  display: grid;
  grid-template-columns: repeat(3, 160px); /* 3 columns of 80px each */
  grid-template-rows: repeat(3, 160px); /* 3 rows of 80px each */
  gap: 10px; /* Adds space between squares */
  justify-content: center; /* Centers the grid horizontally */
  align-content: center; /* Centers the grid vertically */
  margin: auto;
}

.Square {
  background-color: #8ca0ff;
  border-color: #607afc;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}
